.box{
    background-color: aqua;
    display: inline-block;
    border: 2px solid red;
    width: 150px;
    height: 150px;
    margin: 5px;
}
#box3{
    position:fixed;
    right: 4px;
    bottom: 2px;
    
}
body{
    background-color: aqua;
    height: 2000px;
}